.chat-page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 500px;

  .chat-page {
    overflow: auto;
    flex-grow: 1;
    align-self: stretch;

    .empty-text {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .chat-header {
      position: sticky;
      top: 0;
    }
    .chat-content {
      display: flex;
      justify-content: center;

      .chat-content-inner {
        width: 70%;
      }
    }
  }

  .chat-box-wrapper {
    align-self: center;
    flex-shrink: 0;
    align-self: stretch;
  }
}
