.start-page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .start-page-inner {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .input-wrapper {
      align-self: stretch;
    }

    .button-wrapper {
      width: fit-content;
      height: 2em;
    }
  }
}

.error {
  color: red;
  height: 2em;
}
