.chat-box-wrapper {
  position: relative;
  padding: 20px;
  button {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    background-color: unset;
    border: unset;
    cursor: pointer;

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #676767;
    svg {
      color: white;
    }
  }
}
